# Ambiente

In [4]:
import pandas as pd
import plotly.express as px
from functions.geohmount_plots import wind_rose
from functions.transform import *

# Importando e tratando a base de dados

## Importação dos dados

In [5]:
trajs = pd.read_csv('ps/resultado-direcoes.csv', sep=";")
trajs.head()

,data,altitude,campanha,rain,evt_id,evt_sum_rain,evt_avg_rain,evt_max_rain,direcao_graus,velocidade_km/h
0,2018-01-01 22:00:00,2391.0,NaN,0.0,1,19.8,19.80,19.8,241.753794,21.981513
1,2018-01-03 22:00:00,2391.0,NaN,1.3,6,85.8,4.29,24.2,270.000000,21.836000
2,2018-01-04 02:00:00,2391.0,NaN,1.3,6,85.8,4.29,24.2,278.810733,20.845989
3,2018-01-04 01:00:00,2391.0,NaN,1.3,6,85.8,4.29,24.2,282.587693,21.740565
4,2018-01-04 04:00:00,2391.0,NaN,0.3,6,85.8,4.29,24.2,269.070961,19.057505

## Tratamento dos dados

### Renomeando colunas

In [6]:
trajs = trajs.rename(columns={'velocidade_km/h': 'velocidade', 'rain': 'chuva_gdas', 'evt_sum_rain': 'evt_soma_chuva', 
                              'evt_avg_rain': 'evt_media_chuva', 'evt_max_rain': 'evt_max_chuva', 'direcao_graus': 'direcao'})

### Removendo trajetórias sem campanha

In [7]:
trajs = trajs.dropna()
trajs.head()

,data,altitude,campanha,chuva_gdas,evt_id,evt_soma_chuva,evt_media_chuva,evt_max_chuva,direcao,velocidade
11,2018-01-06 02:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,338.713595,42.558448
12,2018-01-06 01:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,337.209409,39.884946
13,2018-01-06 04:00:00,2391.0,PS190210 - PP1,0.2,12,18.4,1.84,6.0,339.831788,46.305231
14,2018-01-08 19:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,28.886582,10.234386
15,2018-01-08 22:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,48.715289,11.239750

### Tipando a coluna de data

In [8]:
trajs['data'] = pd.to_datetime(trajs['data'])

### Novas colunas

#### Sentidos das trajetórias

In [9]:
trajs['direcao_cat'] = trajs['direcao'].apply(direcao_categorica)
trajs.head(10)

,data,altitude,campanha,chuva_gdas,evt_id,evt_soma_chuva,evt_media_chuva,evt_max_chuva,direcao,velocidade,direcao_cat
11,2018-01-06 02:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,338.713595,42.558448,NNW
12,2018-01-06 01:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,337.209409,39.884946,NNW
13,2018-01-06 04:00:00,2391.0,PS190210 - PP1,0.2,12,18.4,1.84,6.0,339.831788,46.305231,NNW
14,2018-01-08 19:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,28.886582,10.234386,NNE
15,2018-01-08 22:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,48.715289,11.239750,NE
16,2018-01-09 02:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,71.258660,18.272850,ENE
17,2018-01-09 01:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,73.864411,17.048600,ENE
18,2018-01-12 19:00:00,2391.0,PS190210 - PP1,1.9,20,12.2,6.10,9.6,299.127161,23.700074,WNW
19,2018-01-12 22:00:00,2391.0,PS190210 - PP1,0.3,20,12.2,6.10,9.6,303.690068,22.282307,WNW
20,2018-01-13 22:00:00,2391.0,PS190210 - PP1,0.0,21,15.0,3.75,9.2,310.710847,17.528772,NW

#### Categorizando as velocidades

In [10]:
trajs['velocidade_cat'] = trajs['velocidade'].apply(ps_velocidade_categorica)
trajs.head(10)

,data,altitude,campanha,chuva_gdas,evt_id,evt_soma_chuva,evt_media_chuva,evt_max_chuva,direcao,velocidade,direcao_cat,velocidade_cat
11,2018-01-06 02:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,338.713595,42.558448,NNW,40-50 km/h
12,2018-01-06 01:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,337.209409,39.884946,NNW,30-40 km/h
13,2018-01-06 04:00:00,2391.0,PS190210 - PP1,0.2,12,18.4,1.84,6.0,339.831788,46.305231,NNW,40-50 km/h
14,2018-01-08 19:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,28.886582,10.234386,NNE,10-20 km/h
15,2018-01-08 22:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,48.715289,11.239750,NE,10-20 km/h
16,2018-01-09 02:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,71.258660,18.272850,ENE,10-20 km/h
17,2018-01-09 01:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,73.864411,17.048600,ENE,10-20 km/h
18,2018-01-12 19:00:00,2391.0,PS190210 - PP1,1.9,20,12.2,6.10,9.6,299.127161,23.700074,WNW,20-30 km/h
19,2018-01-12 22:00:00,2391.0,PS190210 - PP1,0.3,20,12.2,6.10,9.6,303.690068,22.282307,WNW,20-30 km/h
20,2018-01-13 22:00:00,2391.0,PS190210 - PP1,0.0,21,15.0,3.75,9.2,310.710847,17.528772,NW,10-20 km/h

#### Categorizando a soma de chuva por evento

In [11]:
trajs['evt_soma_chuva_cat'] = trajs['evt_soma_chuva'].apply(chuva_categorica)
trajs.head(10)

,data,altitude,campanha,chuva_gdas,evt_id,evt_soma_chuva,evt_media_chuva,evt_max_chuva,direcao,velocidade,direcao_cat,velocidade_cat,evt_soma_chuva_cat
11,2018-01-06 02:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,338.713595,42.558448,NNW,40-50 km/h,5-20 mm
12,2018-01-06 01:00:00,2391.0,PS190210 - PP1,1.1,12,18.4,1.84,6.0,337.209409,39.884946,NNW,30-40 km/h,5-20 mm
13,2018-01-06 04:00:00,2391.0,PS190210 - PP1,0.2,12,18.4,1.84,6.0,339.831788,46.305231,NNW,40-50 km/h,5-20 mm
14,2018-01-08 19:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,28.886582,10.234386,NNE,10-20 km/h,20-35 mm
15,2018-01-08 22:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,48.715289,11.239750,NE,10-20 km/h,20-35 mm
16,2018-01-09 02:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,71.258660,18.272850,ENE,10-20 km/h,20-35 mm
17,2018-01-09 01:00:00,2391.0,PS190210 - PP1,0.0,18,30.4,6.08,14.6,73.864411,17.048600,ENE,10-20 km/h,20-35 mm
18,2018-01-12 19:00:00,2391.0,PS190210 - PP1,1.9,20,12.2,6.10,9.6,299.127161,23.700074,WNW,20-30 km/h,5-20 mm
19,2018-01-12 22:00:00,2391.0,PS190210 - PP1,0.3,20,12.2,6.10,9.6,303.690068,22.282307,WNW,20-30 km/h,5-20 mm
20,2018-01-13 22:00:00,2391.0,PS190210 - PP1,0.0,21,15.0,3.75,9.2,310.710847,17.528772,NW,10-20 km/h,5-20 mm